<launch>
    <node pkg="ffm_task" name="yolo_detector" type="yolo_detection.py" output="screen" />
    <node pkg="ffm_task" name="aligned_depth_rgb" type="aligned_depth_rgb.py" output="screen" />
    <node pkg="ffm_task" name="pyzed" type="aligned_depth_rgb_pyzed.py" output="screen" />
    <node pkg="ffm_task" name="take_photo" type="take_photo.py" output="screen" />
</launch>
