<launch>
    <node pkg="ffm_task" name="start_scripts" type="start_scripts.py" output="screen" />
    <node pkg="ffm_task" name="read_waypoints" type="read_waypoints.py" output="screen" />
    <include
    file="/home/i_h8_ros/ffm_ws/src/nav_pkg/launch/nav_trajdef.launch"
    />
    <include
    file="/home/i_h8_ros/ffm_ws/src/ffm_task/launch/vel_mux.launch"
    />
</launch>
